/* === Reset CSS === */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Remove estilos padrão de listas */
ul,
ol {
  list-style: none;
}

/* Imagens e outros elementos de mídia sejam responsivos */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Removendo estilos padrão de formulários */
input,
button,
textarea,
select {
  font: inherit;
}

/* Correção para links */
a {
  text-decoration: none;
  color: inherit;
}
